*_openpli-git
!*.diff
!*.patch
*.pyc
packagingtmpdir
ipkgbuild
e2openplugin-OpenWebif
tmpname
enigma2-networkbrowser
ruledir
bb.pyo
split_packages.pyo
smart-rules
smart-rules.in
config
depcomp
install-sh
lastChoice
localmacros
autoconf_rtl8192c_usb_linux.h
RPMS
!Makefile.in
!acinclude.m4
Makefile
Makefile.pre
SRPMS
u-boot
Config.in
build.env
make.log
